.navigation {
  position: relative;
}

.navigation__burger img {
  width: 40px;
}

.navigation__burger {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
}

#dropdown-checkbox {
  display: none;
}

.navigation input:checked + .navigation__list {
  display: block;
}

.navigation__list {
  display: block;
  padding: 60px 30px 0 30px;
  background-color: blanchedalmond;
}

.navigation__list-item a {
  padding: 2em 3em;
}

.navigation__list-item:hover {
  color: blue;
}

.navigation__sublist {
  display: none;
}

.navigation__list-item:hover > .navigation__sublist {
  display: block;
}

.navigation__sublist-item a {
  padding: 1em 1.5em;
}

.navigation__list-item {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
}

.navigation__sublist-item {
  color: rgba(0, 0, 0, 0.48);
  text-transform: capitalize;
}

.navigation__sublist-item:hover {
  color: black;
}

.navigation__list {
  display: none;
}