* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p img {
    max-width: 100%;
}

.v div {
    height: 0;
    padding-bottom: calc(1045/1840 *100%);
    position: relative;
    width: 100%;
}

.v iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.p,
.t,
.v {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    border-color: #ffffba;
    grid-area: p;
}

.t {
    border-color: #ffdfba;
    grid-area: t;
}

.v {
    border-color: #baffc9;
    grid-area: v;
}