@use "./../abstracts/mixins" as *;
@use "./../abstracts/variables" as *;

.navigation {
  background-color: white;
  grid-area: nav;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__burger {
    height: 100%;
  }

  &__burger img {
    max-height: 100%;
    width: auto;
  }

  &:has(input:checked) .navigation__list {
    display: flex;
  }

  &__list {
    position: absolute;
    width: 100%;
    height: calc(100dvh - 15vh);
    display: none;
    flex-direction: column;
    top: 100%;
    left: 0;
  }

  &__list-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.3em;
  }

  &__list-item:hover {
    color: $nav-item--highlighted;
  }

  &__sublist {
    color: rgba(255, 255, 255, 0.566);
    display: none;
    position: initial;
    flex-direction: column;
    width: 100%;
    height: 67%;
    text-transform: capitalize;
    background-color: $nav__sublist-bg;
  }

  &__sublist-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 60%;
    flex: 1;
  }

  &__sublist-item:hover {
    color: white;
  }

  &__list-item:has(&__sublist) {
    &:hover .navigation__sublist {
      display: flex;
    }

    &:hover {
      flex: 3;
      justify-content: space-evenly;
    }

    &:hover a {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }


  @include respond(desktop) {
    &__burger {
      display: none;
    }

    &__list {
      display: flex;
      width: 100%;
      position: initial;
      flex-direction: row;
      justify-content: flex-start;
      transform: none;
    }

    &__list-item {
      justify-content: center;
      width: 160px;
      height: 100%;
      flex: none;
      position: relative;
    }

    &__list-item::after {
      width: 0;
      content: "";
      position: absolute;
      background-color: $nav-item--highlighted;
      height: 3px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: width 250ms ease-in-out;
    }

    &__list-item:hover::after {
      width: 100%;
    }

    &__list-item:has(&__sublist)::before {
      content: ">";
      font-size: 1em;
      position: absolute;
      left: 80%;
      top: 37%;
      transform: rotateZ(270deg);
      transition: all 250ms ease-in-out;
    }

    &__list-item:has(&__sublist):hover::before {
      transform: rotateZ(90deg);
      left: 81%;
    }

    &__sublist {
      width: max-content;
      height: max-content;
      position: absolute;
      top: 100%;
      left: 0;
    }

    &__sublist-item {
      width: max-content;
      height: 100px;
      padding: 0 1.2em;
    }

    &__list-item:has(&__sublist) {
      position: relative;

      &:hover .navigation__sublist {
        display: block;
      }

      &:hover {
        flex: none;
        justify-content: space-evenly;
      }

      &:hover a {
        flex: none;
        display: flex;
        align-items: center;
      }
    }
  }

}